@font-face {
  font-family: "Epilogue, Bold";
  src: local("Epilogue"),
  url("assets/fonts/Epilogue/Epilogue-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Epilogue, Regular";
  src: local("Epilogue"),
  url("assets/fonts/Epilogue/Epilogue-Regular.ttf") format("truetype");
  font-weight: normal;
}

body {
  font-family: "Epilogue, Regular", serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, a, button {
  font-family: "Epilogue, Bold", sans-serif;
}

p, label, div, span {
  font-family: "Epilogue, Regular", sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
}